
html{
	font-family: 'Open Sans', sans-serif;
	background-color: orange;
}

.container{
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	width: 20%;
	background-color: white;
	border-radius: 50px;
	border: solid black 2px;
}

.btn{
	border-radius: 50px;
	border: solid black 2px;
	background-color: #0077ff;
	color: white;
}

.submit{
	position: relative;
	display: block;
	left: 50%;
	top: 5px;
	transform: translateX(-50%);
}

::placeholder{ 
	color: white;
}

.horizontal-center{
	text-align: center;
}

.ipt{
	width: 90%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}